# SQL Server
SA_PASSWORD=YourPasswordHere
DB_CONNECTION_STRING=Server=sqlserver,1433;Database=PayFlow;User Id=sa;Password=YourPasswordHere;TrustServerCertificate=True;Encrypt=True;MultipleActiveResultSets=True

# Redis
REDIS_CONNECTION_STRING=redis:6379

# RabbitMQ
RABBITMQ_USER=payflow
RABBITMQ_PASS=changeme
